{% extends 'base.html' %}
{% block content %}
<body>
    <div class="head-bread">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Register</li>
            </ol>
        </div>
    </div>
    <!-- reg-form -->
    <div class="reg-form">
        <div class="container">
            <div class="reg">
                <h3>Register Now</h3>
                <p>Welcome, please enter the following details to continue.</p>
                <p>If you have already registered, <a href="{% url 'login' %}">click here to log in</a></p>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Register Now">
                    <p class="click">By clicking this button, you agree to our <a href="#">Policy Terms and Conditions.</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
